<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Free Blogging Website</title>
</head>

<body>
    <!-- Header -->
    <section class="header">
        <nav>
            <!-- <a href="index.html"> <img src="" alt=""> </a> -->
            <div class="nav-link">
                <ul>
                    <li> <a href="/"> Home </a> </li>
                    <li> <a href="#podcast"> Podcast </a> </li>
                    <li> <a href="#blog"> Blog </a> </li>
                    <li> <a href="#newsletter"> Newsletters </a> </li>
                    <li> <a href="https://www.hubspot.com/our-story?hubs_post=blog.hubspot.com/&hubs_post-cta=redirect-link"> About </a> </li>
                </ul>
            </div>

            <div class="text-box">
                <h1>Blog Software</h1>
                <p>
                    Publish quality blog content optimized to drive traffic and convert readers into customers, all with
                    a full suite of integrated blogging tools.
                </p>
            </div>
        </nav>
    </section>


    <!-- Podcast -->
    <section class="podcast" id="podcast">
        <h1>Podcast</h1>
        <p>
            A podcast is a program made available in digital format for download over the Internet.
        </p>

        <div class="row">
            <div class="podcast-col">
                <a
                    href="https://listen.hubspot.com/public/83/My-First-Million-0ae39496?hubs_post-cta=blognavcard-podcasts-myfirstmillion">
                    <h2>My First Million</h2>
                </a>
                <p>
                    One Question Friday: Someone Stole My NFTs
                </p>
            </div>

            <div class="podcast-col">
                <a href="https://listen.hubspot.com/public/83/The-Hustle-Daily-Show-cc2bf6d9?hubs_post-cta=blognavcard-podcasts-theshustledaily">
                    <h2>The Hustle Daily Show</h2>
                </a>
                <p>
                    Are wearables really the future of health?
                </p>
            </div>

            <div class="podcast-col">
                <a href="https://listen.hubspot.com/public/83/CEO-School-ba92fb76?hubs_post=blog.hubspot.com%252F&hubs_post-cta=null">
                    <h2>CEO School</h2>
                </a>
                <p>
                    The Boys Club And How I Set Them Straight
                </p>
            </div>
        </div>
    </section>

    <section class="podcast" style="margin-top: -10%;">
        <div class="row">
            <div class="podcast-col">
                <a
                    href="https://listen.hubspot.com/public/83/Success-Story-with-Scott-D.-Clary-a3585e84?hubs_post=blog.hubspot.com%252F&hubs_post-cta=nullb">
                    <h2>Success Story Podcast</h2>
                </a>
                <p>
                    Gloria Feldt, Co-Founder/President Of Take The Lead | Women Will Take The Lead for (Everyone's) Good
                </p>
            </div>

            <div class="podcast-col">
                <a href="https://listen.hubspot.com/public/83/Business-Made-Simple-with-Donald-Miller-6279d097?hubs_post=blog.hubspot.com%2F&hubs_post-cta=null">
                    <h2>Business Made Simple</h2>
                </a>
                <p>
                    The Quickest Way to Grow Your Business
                </p>
            </div>

            <div class="podcast-col">
                <a href="https://listen.hubspot.com/public/83/The-Goal-Digger-Podcast-ad362bb2?hubs_post=blog.hubspot.com%2F&hubs_post-cta=null">
                    <h2>Goal Digger Podcast</h2>
                </a>
                <p>
                    How to Leverage Where You Are to Get to Where You're Going
                </p>
            </div>
        </div>
    </section>


    <!-- Blogs -->
    <section class="blogs" id="blog">
        <h1>Blogs</h1>
        <p>
            A blog, short for weblog, is a frequently updated web page used for personal commentary or business content
        </p>

        <div class="row">
            <div class="blogs-col">
                <img src="../static/images/1bimg.jpg">

                <a href="/MarketBlog">
                    <div class="layer">
                        <h3>Marketing</h3>
                    </div>
                </a>
            </div>

            <div class="blogs-col">
                <img src="../static/images/2bimg.jpg">

                <a href="/SalesBlog">
                    <div class="layer">
                        <h3>Sales</h3>
                    </div>
                </a>
            </div>

            <div class="blogs-col">
                <img src="../static/images/3bimg.jpg">

                <a href="/ServiceBlog">
                    <div class="layer">
                        <h3>Service</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>


    <!-- Newsletters -->
    <section class="newsletters" id="newsletter">
        <h1>Newsletters</h1>
        <p>
            A newsletter is a tool used by businesses and organizations to share relevant and valuable information with
            their network of customers, prospects and subscribers.
        </p>

        <div class="row">
            <div class="nl-col">
                <a href="https://thehustle.co/the-banker-who-caused-the-1929-stock-crash/"> <img src="https://thehustle.co/wp-content/uploads/2022/09/HEADER-4.gif">
                </a>
                <h2> The banker </h2>
            </div>

            <div class="nl-col">
                <a href="https://thehustle.co/how-one-of-americas-last-piano-manufacturers-stays-alive/"> <img src="https://thehustle.co/wp-content/uploads/2022/09/header-3.gif">
                </a>
                <h2> America last piano </h2>
            </div>

            <div class="nl-col">
                <a href="https://thehustle.co/the-family-that-built-a-ballpark-nachos-monopoly/"> <img src="https://thehustle.co/wp-content/uploads/2022/09/header-2.gif">
                </a>
                <h2> Built a ballpark </h2>
            </div>
        </div>
    </section>

    <!-- <section class="newsletters" style="margin-top: -5%;">
        <div class="row">
            <div class="nl-col">
                <a href="Newsletter/4nl.html"> <img src="https://thehustle.co/wp-content/uploads/2022/11/header-1.gif"> </a>
                <h2> Can you get sued for using a meme? </h2>
            </div>

            <div class="nl-col">
                <a href="Newsletter/5nl.html"> <img src="https://thehustle.co/wp-content/uploads/2022/11/header4.gif"> </a>
                <h2> How America’s top real estate agent sells 16 homes every day </h2>
            </div>

            <div class="nl-col">
                <a href="Newsletter/6nl.html"> <img src="https://thdaily.s3.us-west-1.amazonaws.com/final_size-holidaymovie_20221122031132.gif"> </a>
                <h2> Hell hath no fury like angry Swifties </h2>
            </div>
        </div>
    </section> -->


    <!-- Review Section -->

    <section class="review">
        <h1>Reviews</h1>
        <p>
            Provide useful, constructive feedback.
        </p>

        <div class="row">
            <div class="review-col">
                <img src="../static/images/r1img.jpg">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, quasi.
                </p>
            </div>

            <div class="review-col">
                <img src="../static/images/r2img.jpg">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, quasi.
                </p>
            </div>
        </div>
    </section>


    <!-- Create Your Blog. -->
    <section class="cb">
        <h1>Create Your Blogs</h1>
        <a href="/SignUp" class="btn">Create</a>
        <a href="/ViewPost" class="btn">View </a>
    </section>


    <!-- Footer. -->
    <section class="footer">
        <h2>
            <div class="icons">
                <a href="https://www.facebook.com/profile.php?id=100024903653144"> <i class="fa fa-facebook"></i> </a>
                <a href="https://www.instagram.com/r.a7246/"> <i class="fa fa-instagram"></i> </a>
                <a href="https://twitter.com/RahulMe57499203"> <i class="fa fa-twitter"></i> </a>
                <a href="https://www.linkedin.com/in/rahul-menon-144940225/"> <i class="fa fa-linkedin"></i> </a>
            </div>
        </h2>

        <hr>

        <p class="reg">© 2022 Company, Inc</p>
    </section>

</body>

</html>