<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/marblog.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Marketing Blog</title>
</head>

<body>
    <!-- Header -->
    <section class="bheader">
        <nav>
            <!-- <a href="index.html"> <img src="" alt=""> </a> -->
            <div class="nav-link">
                <ul>
                    <li> <a href="/"> Home </a> </li>
                    <!-- <li> <a href=""> Podcast </a> </li>
                    <li> <a href=""> Blog </a> </li>
                    <li> <a href=""> Newsletters </a> </li> -->
                    <li> <a href="https://www.hubspot.com/our-story?hubs_post=blog.hubspot.com/&hubs_post-cta=redirect-link"> About </a> </li>
                </ul>
            </div>

            <div class="text-box">
                <h1>Marketing</h1>
                <p>
                    Marketing is the process of exploring, creating, and delivering value to meet the needs of a target
                    market in terms of goods and services;
                </p>
            </div>
        </nav>
    </section>


    <!-- List -->
    <section class="marketing">
        <h1> <i> <u> Marketing </u> </i> </h1>
        <!-- <p>
            While reading, we have to remember different characters and settings that belong to a given story.
        </p> -->

        <div class="row">
            <div class="market-col">
                <a href="https://blog.hubspot.com/marketing/instagram-marketing-tools"> <img src="../static/Mimages/1img.jpg" alt="" width="50%"> </a>
                <!-- <a href="Marketinglist/1blog.html"> -->
                    <h2>Instagram Marketing Tools</h2>
                <!-- </a> -->
                <p>
                    With thousands of Instagram marketing tools to choose from, how do you know which ones you need?
                </p>
            </div>

            <div class="market-col">
                <a href="https://blog.hubspot.com/marketing/instagram-affiliate-marketing"> <img src="../static/Mimages/2img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/2blog.html"> -->
                    <h2>Affiliate Marketing</h2>
                <!-- </a> -->
                <p> Affiliate marketing on Instagram works the same as other platforms, where a business pays someone.
                </p>
            </div>

            <div class="market-col">
                <a href="https://blog.hubspot.com/marketing/what-to-post-on-instagram?portalId=53&_preview=true&cacheBust=1594720451930&preview_key=pSOAWoAu&inpageEditorUI=true&benderPackage=InpageEditorUI&staticVersion=static-1.22392&scriptPath=bundles%2Fapp.js&cssPath=bundles%2Fapp.css&hubs_signup-url=preview.hs-sites.com/_hcms/preview/content/5241498400&hubs_signup-cta=null&hubs_post=blog.hubspot.jp/webinar-case-studies&hubs_post-cta=%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B&hubs_content=www.hubspot.jp/products/service/help-desk&hubs_content-cta=%E3%83%91%E3%82%A4%E3%83%97%E3%83%A9%E3%82%A4%E3%83%B3%E7%AE%A1%E7%90%86"> <img src="../static/Mimages/3img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/3blog.html"> -->
                    <h2> What to Post on Instagram </h2>
                <!-- </a> -->
                <p> Instagram isn't just a go-to social network for individuals anymore. </p>
            </div>
        </div>
    </section>


    <section class="marketing" style="margin-top: -12%;">
        <div class="row">

            <div class="market-col">
                <a href="https://blog.hubspot.com/marketing/early-q4-business-data"> <img src="../static/Mimages/4img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/4blog.html"> -->
                    <h2>Seasonality & the Economy Impacting Marketers</h2>
                <!-- </a> -->
                <p>
                    This time each year, nature – as well as marketing – slows down as we head into colder seasons.
                </p>
            </div>

            <div class="market-col">
                <a href="https://blog.hubspot.com/marketing/swot-analysis?hubs_post-cta=blognavcard-marketing"> <img src="../static/Mimages/5img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/5blog.html"> -->
                    <h2>Multicultural Marketing</h2>
                <!-- </a> -->
                <p> Growing up as a first-generation Asian American, I lived between two cultures. </p>
            </div>

            <div class="market-col">
                <a href="https://blog.hubspot.com/marketing/multicultural-marketing"> <img src="../static/Mimages/6img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/6blog.html"> -->
                    <h2> Multicultural Marketing </h2>
                <!-- </a> -->
                <p> Growing up as a first-generation Asian American, I lived between two cultures. </p>
            </div>
        </div>
    </section>

    <section class="marketing" style="margin-top: -12%;">
        <div class="row">
            <div class="market-col">
                <a href="https://blog.hubspot.com/marketing/black-friday-marketing-strategies"> <img src="../static/Mimages/7img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/7blog.html"> -->
                    <h2> 9 Black Friday Marketing Strategies for 2022 </h2>
                <!-- </a> -->
                <p>
                    The holiday season is around the corner, so it's time for marketers everywhere to gear up for Black
                    Friday.
                </p>
            </div>

            <div class="market-col">
                <a href="https://blog.hubspot.com/marketing/b2b-lead-generation"> <img src="../static/Mimages/8img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/8blog.html"> -->
                    <h2> The Best B2B Lead Gen Campaigns for Every Channel </h2>
                <!-- </a> -->
                <p> As a marketer, you’re always on the hunt for more leads. </p>
            </div>

            <div class="market-col">
                <a href="https://blog.hubspot.com/marketing/create-social-media-report"> <img src="../static/Mimages/9img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/9blog.html"> -->
                    <h2> How to Create a Social Media Report </h2>
                <!-- </a> -->
                <p> Social media is an undeniably powerful channel for marketing in 2020. </p>
            </div>
        </div>
    </section>

    <!-- Footer. -->
    <section class="footer">
        <hr>

        <p class="reg">© 2022 Company, Inc</p>
    </section>

</body>

</html>