<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/salesblog.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sales Blog</title>
</head>

<body>
    <!-- Header -->
    <section class="bheader">
        <nav>
            <!-- <a href="index.html"> <img src="" alt=""> </a> -->
            <div class="nav-link">
                <ul>
                    <li> <a href="/"> Home </a> </li>
                    <!-- <li> <a href=""> Podcast </a> </li>
                    <li> <a href=""> Blog </a> </li>
                    <li> <a href=""> Newsletters </a> </li> -->
                    <li> <a href="https://www.hubspot.com/our-story?hubs_post=blog.hubspot.com/&hubs_post-cta=redirect-link"> About </a> </li>
                </ul>
            </div>

            <div class="text-box">
                <h1>Sales</h1>
                <p>
                    Sales are activities related to selling or the number of goods sold in a given targeted time period.
                    The delivery of a service for a cost is also considered a sale.
                </p>
            </div>
        </nav>
    </section>


    <!-- List -->
    <section class="sales">
        <h1> <i> <u> Sales </u> </i> </h1>
        <!-- <p>
            While reading, we have to remember different characters and settings that belong to a given story.
        </p> -->

        <div class="row">
            <div class="sales-col">
                <a href="https://blog.hubspot.com/sales/captive-product-pricing"> <img src="../static/Simages/1img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/1blog.html"> -->
                <h2>What Is Captive Product Pricing?</h2>
                <!-- </a> -->
                <p>
                    If you’re thinking of changing up your pricing strategy, captive product pricing is a strategy
                    you should consider.
                </p>
            </div>

            <div class="sales-col">
                <a href="https://blog.hubspot.com/sales/sales-reps-should-do-in-first-days-of-2015"> <img src="../static/Simages/2img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/2blog.html"> -->
                <h2>What Sales Reps</h2>
                <!-- </a> -->
                <p>What Sales Reps Should Do in the First Quarter of a New Year, According to Experts</p>
            </div>

            <div class="sales-col">
                <a href="https://blog.hubspot.com/sales/how-to-start-a-business"> <img src="../static/Simages/3img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/3blog.html"> -->
                <h2> How to Start a Business </h2>
                <!-- </a> -->
                <p> How to Start a Business: A Startup Guide for Entrepreneurs </p>
            </div>
        </div>
    </section>


    <section class="sales" style="margin-top: -12%;">
        <div class="row">

            <div class="sales-col">
                <a href="https://blog.hubspot.com/sales/sales-trends-2018"> <img src="../static/Simages/4img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/4blog.html"> -->
                <h2>9 Sales Trends to Watch in 2023</h2>
                <!-- </a> -->
                <p>
                    Just like every year before it, 2023 will come with its unique challenges and changes — and the
                    sales landscape isn't exempt from those kinds of shifts.
                </p>
            </div>

            <div class="sales-col">
                <a href="https://blog.hubspot.com/sales/essential-sales-reports-for-sales-leaders"> <img src="../static/Simages/5img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/5blog.html"> -->
                <h2>10 Important Sales Analysis</h2>
                <!-- </a> -->
                <p>10 Important Sales Analysis Reports [+ 4 Sales Report Templates]</p>
            </div>

            <div class="sales-col">
                <a href="https://blog.hubspot.com/sales/optimized-distribution-strategy"> <img src="../static/Simages/6img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/6blog.html"> -->
                <h2>How to Win More Sales</h2>
                <!-- </a> -->
                <p>How to Win More Sales With An Optimized Distribution Strategy</p>
            </div>
        </div>
    </section>


    <section class="sales" style="margin-top: -12%;">
        <div class="row">

            <div class="sales-col">
                <a href="https://blog.hubspot.com/sales/what-sales-leaders-are-focusing-on"> <img src="../static/Simages/7img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/4blog.html"> -->
                <h2>What Sales Leaders are Focused</h2>
                <!-- </a> -->
                <p>
                    What Sales Leaders are Focused On In 2022 & Beyond
                </p>
            </div>

            <div class="sales-col">
                <a href="https://blog.hubspot.com/sales/social-selling-trends"> <img src="../static/Simages/8img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/5blog.html"> -->
                <h2>The Top Social Selling Trends in 2022</h2>
                <!-- </a> -->
                <p>If you're in sales, you know that finding prospects isn't easy</p>
            </div>

            <div class="sales-col">
                <a href="https://blog.hubspot.com/sales/tiered-pricing"> <img src="../static/Simages/9img.jpg" alt="" width="75%"> </a>
                <!-- <a href="Marketinglist/6blog.html"> -->
                <h2>Tiered Pricing</h2>
                <!-- </a> -->
                <p>Tiered Pricing: The Complete Gui../static/Mimages/1img.jpg
        </div>
    </section>


    <!-- Footer. -->
    <section class="footer">
        <hr>

        <p class="reg">© 2022 Company, Inc</p>
    </section>

</body>

</html>