<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/serviceblog.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Service Blog</title>
</head>

<body>
    <!-- Header -->
    <section class="bheader">
        <nav>
            <!-- <a href="index.html"> <img src="" alt=""> </a> -->
            <div class="nav-link">
                <ul>
                    <li> <a href="/"> Home </a> </li>
                    <!-- <li> <a href=""> Podcast </a> </li>
                    <li> <a href=""> Blog </a> </li>
                    <li> <a href=""> Newsletters </a> </li> -->
                    <li> <a href="https://www.hubspot.com/our-story?hubs_post=blog.hubspot.com/&hubs_post-cta=redirect-link"> About </a> </li>
                </ul>
            </div>

            <div class="text-box">
                <h1>Service</h1>
                <p>
                    Read Expert Tip On How To Build a Customer First Organization.
                </p>
            </div>
        </nav>
    </section>


    <!-- List -->
    <section class="service">
        <h1> <i> <u> Service </u> </i> </h1>
        <!-- <p>
            While reading, we have to remember different characters and settings that belong to a given story.
        </p> -->

        <div class="row">
            <div class="service-col">
                <a href="https://blog.hubspot.com/service/customer-success-tools"> <img src="../static/Serimages/1img.jpg" alt="" width="75%"> </a>
                <h2>4 Essential Customer</h2>
                <p>4 Essential Customer Success Tools for Every Budget</p>
            </div>

            <div class="service-col">
                <a href="https://blog.hubspot.com/service/data-transparency"> <img src="../static/Serimages/2img.jpg" alt="" width="75%"> </a>
                <h2>The Complete Guide to Data Transparency</h2>
                <p>Data transparency is essential for building trust with your customer base.</p>
            </div>

            <div class="service-col">
                <a href="https://blog.hubspot.com/service/rfm-analysis"> <img src="../static/Serimages/3img.jpg" alt="" width="75%"> </a>
                <h2>RFM (Recency, Frequency, Monetary Value)</h2>
                <p>RFM (Recency, Frequency, Monetary Value), Explained in 800 Words or Less</p>
            </div>
        </div>
    </section>

    <section class="service" style="margin-top: -12%;">
        <div class="row">
            <div class="service-col">
                <a href="https://blog.hubspot.com/service/measuring-customer-experience"> <img src="../static/Serimages/4img.jpg" alt="" width="75%"> </a>
                <h2>How to Measure Customer Experience</h2>
                <p>
                    How to Measure Customer Experience (+ 8 Metrics to Help You Do It)
                </p>
            </div>

            <div class="service-col">
                <a href="https://blog.hubspot.com/service/first-party-data"> <img src="../static/Serimages/5img.jpg" alt="" width="75%"> </a>
                <h2>First Party, Second Party, & Third Party Data</h2>
                <p>A Basic Definition of First Party, Second Party, & Third Party Data</p>
            </div>

            <div class="service-col">
                <a href="https://blog.hubspot.com/service/customer-loyalty-trends"> <img src="../static/Serimages/6img.jpg" alt="" width="75%"> </a>
                <h2>14 Customer Loyalty Trends</h2>
                <p>14 Customer Loyalty Trends to Follow in 2022</p>
            </div>
        </div>
    </section>

    <section class="service" style="margin-top: -12%;">
        <div class="row">
            <div class="service-col">
                <a href="https://blog.hubspot.com/service/knowledge-manager"> <img src="../static/Serimages/7img.jpg" alt="" width="75%"> </a>
                <h2>What is a Knowledge Manager?</h2>
                <p>
                    What is a Knowledge Manager? (+ Job Description and Responsibilities) 
                </p>
            </div>

            <div class="service-col">
                <a href="https://blog.hubspot.com/service/workforce-management"> <img src="../static/Serimages/8img.jpg" alt="" width="75%"> </a>
                <h2>Workforce Management</h2>
                <p>Workforce Management: What It Is (+ 6 Software Options to Consider)</p>
            </div>

            <div class="service-col">
                <a href="https://blog.hubspot.com/service/customer-referral-program"> <img src="../static/Serimages/9img.jpg" alt="" width="75%"> </a>
                <h2>How to Build a Strong Customer Referral Program</h2>
                <p>How to Build a Strong Customer Referral Program [Ideas & Examples]</p>
            </div>
        </div>
    </section>


    <!-- Footer. -->
    <section class="footer">
        <hr>

        <p class="reg">© 2022 Company, Inc</p>
    </section>

</body>

</html>